{% extends "base.html" %}


{% block content %}
<h2>filepath: <a href="{{ url_for('mongomanager.render_directory',path=fileObj.filepath) }}">{{ fileObj.filepath }}</a></h2> 
<h2>filename: <a href="{{ url_for('mongomanager.showfile',id=fileObj.id) }}">{{ fileObj.filename }}</a></h2>
 <h2>id: <a href="{{ url_for('mongomanager.object',className='File',id=fileObj.id) }}">{{ fileObj.id }}</a></h2>
    
    <img style="border: 1px solid" src="{{ url_for('mongomanager.getfile',id=fileObj.id) }}"></img>

{% endblock %}
